<mat-grid-list cols="2" rowHeight="2.5:1" class="">
  <mat-grid-tile rowspan="2">
    <!-- <a
      *ngFor="let shop of shops; let index = index"
      routerLinkActive="active"
      class=""
    >
      {{ shop.name }}
    </a> -->
    <div class="">
      <section class="search-Section">
        <div class="flex-center">
          <button class="button" mat-raised-button>Get all members</button>

          <button mat-raised-button>Show Selected</button>

          <button mat-raised-button routerLink="new">Add</button>
        </div>
        <div class="flex-center">
          <mat-form-field id="searchField">
            <input matInput placeholder="Search by name" />
            <mat-hint align="end">Enter at least first 3 letters.</mat-hint>
          </mat-form-field>

          <mat-form-field id="searchField">
            <input matInput placeholder="name" />
            <mat-hint align="end">Enter at least first 3 letters.</mat-hint>
          </mat-form-field>
        </div>
      </section>
      <section class="tableSection">
        <mat-table class="matTable" [dataSource]="shops">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="selectShop(row.id)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="siren">
            <mat-header-cell *matHeaderCellDef> Siren </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.siren }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="capacity">
            <mat-header-cell *matHeaderCellDef> Capacity </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.capacity }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button (click)="deleteRecord(row.id)">Delete</button>
              <!-- <button (click)="editRecord(row.id)">Edit</button> -->
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </section>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list>
